<%- include('./layouts/header') %> 

<!-- <h1>Index Page</h1> -->
<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
    <ol class="tutorial-info">
        <li><b>Express Js</b></li>
    </ol>
</div>

<%- include('./layouts/footer') %> 